body
	font-family 'Source Sans Pro', sans-serif
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
.center
	center(800px)
	+tablet()
		padding 0 1rem
	+mobile()
		padding 0 1rem

.center__small
	center(800px)
	+tablet()
		padding 0 1rem
	+mobile()
		padding 0 1rem

.default__error__message
	color $color-black
	font-size 40px
	
.post-content p.citacao
	color #949292
	font-style italic
	border-left 5px solid #949292
	padding-left 20px
	font-size 25px