.post__item
	border-bottom 1px solid #EAEAEA
	padding-bottom 50px
	margin-bottom 40px

.post__item__thumb , .post-content .post__item__thumb 
	width 100%
	height auto
	max-height 400px

.post__item__image_left
	float left
	margin-right 20px
	margin-bottom 20px
	+mobile()
		width 100%
		margin-bottom 20px

.post__item__image_right
	float right
	margin-left 20px
	margin-bottom 20px
	+mobile()
		width 100%
		margin-bottom 20px

.post__item__image_full
	width 100%
	height auto
	margin-bottom 20px
	+mobile()
		width 100%
		margin-bottom 20px

.highlight
	margin 40px 0

.highlight pre
	padding 15px 20px
	overflow auto

.post code
	font-family 'Source Sans Pro', sans-serif
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	color #FFF
	font-weight bold
	background-color #5DC2FF
	padding 3px 5px
	border-radius 5px

.post-content .gif
	background-size: contain;
	max-width 600px
	width 100%
	height auto