
<header class="header nav-down">
	
	<div class="center">
		<div class="header__logo">
			<a href="/" title="Cleyson Web Dev"><img src="{{ site.baseurl }}/assets/img/logo.png" alt=""></a>
		</div>

		<div class="header__menu clearfix">
			<nav class="header__menu__nav">
				<ul>
					<li class="header__menu__item"><a href="{{ site.baseurl }}/" title="Blog">Blog</a></li>
					<li class="header__menu__item"><a href="/tags" title="Tags">Tags</a></li>
					<li class="header__menu__item"><a href="/sobre" title="Sobre">Sobre</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
	