.nav-up
	top -74px
	+mobile()
		top -92px
	+tablet()
		top -92px

.open
	visibility visible!important
	-webkit-transition: all 0.5s ease;
	-moz-transition:  all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition:  all 0.5s ease;

.clearfix:before
	content " "
	display table

.clearfix:after 
	content " "
	display table

.clearfix:after 
	clear both

.margin
	margin-bottom 100px